@define-mixin ui-font {
  font-family: var(--ui-font-family);
  font-size:   var(--ui-font-size);
  font-weight: var(--ui-font-weight);
  text-transform: var(--ui-text-transform);
  letter-spacing: var(--ui-letter-spacing);
  line-height: var(--ui-line-height);

  color: var(--ui-color);
}

